*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* * is universal (selects all elements), while body is an element selector. */

body {
    color: rgb(87, 87, 87);
    display:flex;
    flex-flow: column nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#navBar{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}

#bars{
    width:40px;
    height:auto;
    margin: 0 50px 0 50px;
}

#navBar ul {
    display: flex;
    flex-flow: row wrap;
}

#navBar ul li a{
    color: rgb(87, 87, 87);
    margin: 5px;
}

#navBar ul li a:hover{
    color: black;
}

#requestDemo{
    display:flex;
    align-self: flex-end;
}

#requestDemoButton {
    width:120px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor:progress;
}


h1{
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}

#learnMore{
    width:100px;
    height: 40px;
    background-color: #9F60E2;
    color: white;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px #3b1b44;
    transition: all 0.3s ease 0s;
    cursor:progress;
    float: left;
    margin-top: 20px;
}

#dataStorage{
    display: flex;
    flex-flow: row-reverse wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

#dataStorageText{
    width: 300px;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    /* width: 50%; */
}

#shot1 {
    /* width: 300px; */
    width: 80%;
    /* min-width:350px;
    max-width: 600px; */
}

#storageBank{
    width: 70%;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color:#F8CFDC;
    border-radius: 30px;
}

#shot2{
    width:300px;
    border-radius: 30px;
    background-color:#F8CFDC;
    border-radius: 30px;
}

#storageBankText {
    width: 300px;
    background-color:#F8CFDC;
    border-radius: 30px;
}

h2{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 30px 0 15px 0;
}

#features{
    text-align:center;
    margin: 30px 0 50px 0;
}

#featuresTag{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.learnMore2{
    border: none;
    background-color: transparent;
    margin-top:10px;
    font-weight: 550;
    letter-spacing: 1.2px;
}

.featuresTag img{
    /* width: 50%; */
    /* height: auto; */
    height: 300px;
    width: auto;

}

.featuresTagText {
    position: absolute;
    /* width: 38%; */
    width:190px;
    line-height:1.2;
    height:auto;
    margin: -255px 0 0 250px;
}

.featuresTagText h3{
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

#testimonials{
    background-color: #9F60E2;
    border-radius: 15px;
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

#testimonials h3{
    margin: 30px 500px 20px 10px;
}

.jdoeCard{
    border-radius: 15px;
    background-color: white;
    padding: 30px;
    width:60%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.jdoeCard a{
    color: #9F60E2;
}

.jdoeCard h4{
    color: black;
    margin-bottom: 5px;
}

.jdoeCard p{
    color: rgb(87, 87, 87);
}

.jdoe{
    height:70px;
    width: 70px;
    border-radius: 50%;
    float: left;
}

#footer{
    display:flex;
    flex-flow: column nowrap;
    border-top: 2px solid #9F60E2;
    margin-top: 30px;
    padding: 15px;
    width: 100%;
}

#footerTop{
    margin-bottom: 40px;
    display:flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

#learnMore3{
    width:130px;
    height: 40px;
    background-color: #D43790;
    color: white;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 5px 15px #9a77a3;
    transition: all 0.3s ease 0s;
    cursor:progress;
    letter-spacing: 1.2px;
    padding:10px;
    margin: 0 10px;
}


#requestDemo2{
    width:140px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgb(156, 156, 156);
    transition: all 0.3s ease 0s;
    cursor:progress;
    letter-spacing: 1.2px;
}

#footerBottom{
    display:flex;
    flex-flow: row wrap;
    margin-top: 50px;
    justify-content: space-around;
    align-items: flex-end;
}

#logo{
    display: flex;
    flex-flow:row wrap;
    margin-bottom: 30px;
}

#logo h5 {
    margin: 15px 0 0 -40px;
}


#footerBottom ul{
    list-style-type: none;
}

#footerBottom h5{
    color: black;
    margin-bottom: 12px;
}

#footerBottom li a{
    text-decoration: none;
    color: rgb(87, 87, 87);
}

#footerBottom li a:hover{
    text-decoration: underline;
    color: black;
}

.footerLi{
    display:flex;
    flex-flow: column nowrap;
    line-height: 2;
}

.footerLi2{
    display:flex;
    flex-flow: column nowrap;
    line-height: 2;
}

.icons{
    width: 40px;
    height: auto;
}

/* .icons:hover{
    box-shadow: 0 0 .2rem rgb(194, 191, 191),
    0 0 .2rem rgb(194, 191, 191),
    0 0 2rem rgb(194, 191, 191),
    0 0 0.8rem rgb(194, 191, 191),
    0 0 2.8rem rgb(194, 191, 191),
    inset 0 0 1.3rem rgb(194, 191, 191);
} */

#address a{
    color:rgb(87, 87, 87);
    text-decoration: none;
}

#address a:hover{
    color:black;
    text-decoration: underline;
}

@media screen and (max-width: 576px) {
    #dataStorage{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin: 0 auto;
        
    }
    #shot-1{
        width:100%;
        height: auto;
    }
    #dataStorageText{
        display:flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    #dataStorageText, #storageBankText {
        width: 80%;
        height: auto;
        text-align: center;
    }
    #storageBank{
        width: 100%;
        display:flex;
        flex-flow:row wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-color:#F8CFDC;
    }

    #navBar{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
    }
    #navBar ul {
        display: flex;
        flex-flow: row wrap;
        margin-top: 10px;
    }
    #requestDemo{
        display:flex;
        flex-flow: column nowrap;
        align-self: center;
        justify-content: center;
        margin: 20px;
    }
    #storageBank{
        margin-top: 30px;
    }
    .featuresTag img{
        max-width: 100%;
        height: auto;
    }
    
    .featuresTagText {
        position: absolute;
        width: 38%;
        line-height:1.2;
        height:auto;
        margin: -255px 0 0 250px;
    }

    #testimonials{
        display: flex;
        flex-flow: column nowrap;
        background-color: #9F60E2;
        border-radius: 15px;
        color: white;
        text-align: center;
        /* margin: 0 auto; */
        max-width: 100%;
    }
    
    #testimonials h3{
        margin: 20px auto;
    }
    .jdoeCard{
        width: 80%
    }

    #footer{
        text-align: center;
    }
    .footerLi, .footerLi2, #socialMedia {
        border-top: 1px solid gray;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }
    #learnMore3{
        margin: 10px;
    }
    .hide{
        display:none;
    }

    #socialMedia{
        margin-top: 30px;
        padding:10px
    }

    #footerTop{
        margin-bottom: 40px;
        display:flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    #footerBottom{
        display:flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .icons{
        width: 10%;
        height: auto;
    }
    .icons:hover{
        width: 12%;
        height: auto;
    }
}